/* appling google font over the website  */
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  
}
*{
    overflow-x: hidden;
    
}
/* styling menu icon */
.nav-menu{
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #fca61f;
}
/* styling navbar links  */
.navbar{
    background-color: #fff;
    padding: 7px 20px;
    box-shadow: 0px 1px 5px #87827a;
}
.navbar-nav a{
    color: black;
    position: relative;
}
.navbar-nav a:hover{
    color: #fca61f;
}
.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: #fca61f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  /* styling contact btn  */
.c-btn{
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
}
/* styling home section starts */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
    /* background: #dcc8c8; */
    background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235,249,255,1) 100%);
    padding: 10px 0px 10px 0px;
}
.home .home-left{
    padding-top: 50px;
    padding-left: 100px;
    
}

.home h2{
    font-size: 3rem;
    line-height: 4rem;
}
.c-orange{
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}
.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.h-btn:hover{
    background: #6f34fe;
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}
.service-card{
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 0.7rem;
    /* border: 1px solid #58534b; */
    box-shadow: 5px 0px 5px #87827a;
}
.link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fca61f;
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 20px;
    background-color: #6f34fe;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover{
    color: #6f34fe;
}
.link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* adding animation to home section image  */
.home img{
    animation: floatimg 4s ease-in-out infinite;
}

@keyframes floatimg {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-24px);
    }
    100%{
        transform: translateX(0);
    }
}

/* expertise section starts */
.heading small{
    color: #6f34fe;
    font-size: 1.5rem;
    font-weight: 600;
}
.heading h3{
    margin-top: 0.5rem;
    color: #3f396d;
    font-size: 2.5rem;
    font-weight: 700;
}
.expertise h4{
    color: #3f396d;
    font-weight: 700;
}
.expertise a{
    text-decoration: none;
    color: #fca61f;
}
.expertise a:hover{
    color: #6f34fe;
}
.expertise .service-card{
    text-align: center;
    padding: 15px 15px;
    border-radius: 0.7rem;
}

/* skill section starts */
.skill{
    background-color: rgb(234, 234, 249);
}
.skill-parent{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: hidden;

   

}
.details-parent{
   display: flex;
   justify-content:center;
    align-items: center;

    position: relative;
}

.details{
 /* display: flex; */
    margin-top: 50px;
    z-index: 1;
    /* position: absolute; */
    display: flex;
    flex-basis: 100%;
    justify-content:space-around;
    align-items: center;
    gap: 15px;
}
.details-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.skill-img{
    padding: 10px;
    height: 6rem;
    width: 6rem;
}
.skill-img:hover{
   
    scale: 1.2;
    transition:  .3s ease-in-out  ;
}

.text{
    font-size: 1.2rem;
    font-weight: 500;
}
.heading p{
    font-size: 1.3rem;
}

/* portfolio section starts */
#myBtnContainer{
    margin-bottom: 45px;
}
#myBtnContainer button{
  border: none;
  color: black;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;   
  display: inline-block;
  margin: 0 25px;
}
#myBtnContainer button:hover{
    color: #fca61f;
}

#myBtnContainer button:focus{
    outline: none;
}
.post .content h4{
    font-size: 1rem;
    font-weight: 700;
}
.post .card{
    background-color: rgb(246, 245, 245);
    box-shadow: 20px 1px 10px #fca61f;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.card-img-top{
    height: 500px;
    width: 70%;
    border-radius: 5%;
}
/* blog section starts */
.blog{
    background-color: #f2f2ff;
}
.blog .blogpost .card{
    border: none;
    border-radius: 5%;
    height: 600px;
}
.nav-bg{
    background-color: #fff;
}
.card-img-blog{
    height: 300px;
    width: 100%;
    border-radius: 5%;
}
.card-body{

    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 50px 200px;
}
.card-body-blog{

    gap: 50px;
    overflow-y: hidden;
    padding: 50px 200px;
}
.Project-name{
    flex-basis: 70%;

}
.project-details{
    flex-basis: 30%;
    margin-right: 50px;
}

.blog .blogpost small{
    color: #6f34fe;
    font-size: 1.1rem;
}
.blog .blogpost h4,.blogpost a{
    color: #3f396d;
    font-weight: 700;
    margin-top: 1rem;
    text-decoration: none;
}
.blogpost a:hover{
    color: #fca61f;
}

.blog .blogpost .read-more-btn{
    text-decoration: none;
    color: #fca61f;
    font-size: 1.1rem;
}
.blog .blogpost .read-more-btn:hover{
    color: #6f34fe;
}
/* styling modal group  */
.btn-c{
    margin-left: 94%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    margin-top: -3%;
}
.btn-c i{
    color: #fca61f;
}
.modal-body .content span{
    font-size: 1rem;
}
.modal-body .content small{
    font-size: 1rem;
    color: #6f34fe;
}
/* contact section starts */
.contact{
    background-color: #f3f3f3;
    box-shadow: 0px 1px 10px #87827a;
    padding: 20px 0px;
}
.contact-details i{
    font-size: 1.5rem;
    color: #fca61f;
}
.contact-details p{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.contact-form .form-control:focus{
    box-shadow: none;
    border: 1px solid #fca61f;
}
.contact-form .form-control{
    padding: 10px 10px;
    width: 80%;
}

/* footer section starts */
footer{
    background-color: #211e39;
}

footer .link-group a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #6c757d;
    font-size: 1.1rem;
    margin-top: 1rem;
}
footer .link-group a:hover{
    color: #fca61f;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.social-links a{
    margin-right: 1rem;
    font-size: 1.2rem;
    padding: 4px 8px;
   
border-radius: 50%;
}
.social-links .linkedin{
    color: #3919b8;
}
.social-links a:hover{
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}
.social-links .linkedin:hover{
    background-color: #3919b8;
}
.social-links .github{
    color: #329ad5;
}
.social-links .github:hover{
    background-color: #329ad5;
}
.social-links .instagram{
    color: rgb(224, 3, 77);
}
.social-links .instagram:hover{
    background-color: rgb(224, 3, 77);
}

/* styling back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    font-size: 1.4rem;
    background-color: #fca61f;
    color: #fff;
    animation: pulse 3s infinite;
}
.live-link {
    transition: all 0.3s ease-in-out;
  }
  a{
    text-decoration: none;
  }

  .live-link:hover {
    background-color: #0d6efd;
    color: #fff;
    transform: scale(1.05);
  }

  .portfolio .card {
    transition: transform 0.4s ease;
  }

  .portfolio .card:hover {
    transform: translateY(-10px);
  }
  #btn-back-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 1.4rem;
    background-color: #fca61f;
    color: #fff;
  }
  .profile-parent{
   
    padding: 20px;
  }
  .profile{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    margin-left: 20px;
    
    box-shadow: 1px 1px 20px 0px  #6f34fe;
    z-index: 100;

  }